@page "/"
@using StandupEngine.Services
@using StandupEngine.Components
@using System.Text.Json
@inject IEngine _engine
@inject HttpClient _httpClient

<div class="container">
    <div class="row bg-light p-3 rounded mb-3" id="title">
        <h1>Welcome to Dad Joke powered daily standup engine!</h1>
    </div>
    <div class="row">
        <CascadingValue Value="CurrentText">
            <DialogueJumbotron />
        </CascadingValue>
    </div>
    <div class="row">
        <ParticipantList />
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <Button Color="Color.Success" Clicked="@StartShuffling"><Icon Name="IconName.Lightbulb" Float=Float.Default></Icon>   Who will start today, Engine?</Button>
        </div>
        <div class="col"></div>
    </div>
</div>

@code {

    [CascadingParameter]
    public string CurrentText { get; set; }
    [CascadingParameter]
    private bool ShowProgress { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        string jsonPrompts = await _httpClient.GetStringAsync(@"assets\sentences.json");

        _engine.LoadPrompts(jsonPrompts);
    }

    private async Task StartShuffling()
    {
        ShowProgress = true;
        StateHasChanged();

        CurrentText = await _engine.GetJokeAsync(false);
        Thread.Sleep(5000);
        CurrentText = _engine.GetMeetingOrder();
    }


}
