
@page "/"
@using StandupEngine.Services
@using StandupEngine.Components

    <Jumbotron>
       <JumbotronTitle> Welcome to your Standup Engine!</JumbotronTitle>
       <JumbotronSubtitle>Don't waste your time on thinking about the meeting order any more!</JumbotronSubtitle>
    </Jumbotron>

    <ParticipantList />

    <div class="row"><Button Color="Color.Success"><Icon Name="IconName.Lightbulb"></Icon>   Who will start today, Engine?</Button></div>

@code {


}
