<div id="jumbotron-wrapper">
<section class="nes-container is-dark">
    <section class="message-list">
        <section class="message -left">
            <i class="nes-bcrikko"></i>
            <!-- Balloon -->
            <div class="nes-balloon from-left is-dark">
                <p>@CurrentText</p>
            </div>
        </section>
    </section>
</section>
</div>

